<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Either of your entered username <b><%=user %> </b> or your entered password <%= pass %> is wrong.  </h1>
   <h2 style="color:red">Try again with the correct user id and password.</h2>
</body>
</html>