<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/signup.css">
<body>
    <form>
    <div class="signup" id="signup">
        
            <label for="name">Write your user name here.</label><br>
            <input type="text" name="new_username" width="200px" height="40px">
            <br>
            <label for="password">write your password here</label><br>
            <input type="text" name="new_password" width="200px" height="40px"><br>
            <button  type="submit">CREATE NEW USER</button>
    </div>
    </form>
    <center>
        <br><br>
        <h1 style=" color: rgb(40, 164, 123);">If already registered, then go to login page.</h1><br>
        <a href="./login" style="color:blue; font-size: 35px;">LOG IN</a>
    </center>
    </body>
    <script src="/js/signup.js"></script>
</html>